
*.dll
*.txt
*.cache
*.xml
*.csproj
*.csproj
*.pdb
*.ide-wal
*.ide-shm
*.lock
Auros's AutoPause/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Auros's AutoPause/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Auros's AutoPause/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Auros's AutoPause/obj/Debug/Auros's AutoPause.csproj.CopyComplete
Auros's AutoPause/obj/
Auros's AutoPause/Auros's AutoPause.csproj
.vs/Auros's AutoPause/v15/Server/sqlite3/storage.ide
.vs/Auros's AutoPause/v15/.suo
.vs/
